@charset "UTF-8";

/* 
Paleta de cores
verde:  #49a09d
lilás:  #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
/*  */
main{
    position: relative; /*  */
    height: 100vh;
    width: 100vw;
}

section#login{
    /* colocar no meio da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* tudo que tiver fora da borda vai ficar escondido */
    /*  */
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.421);

    /* animação ao mudar o tamanho da tela */
    transition: width .3s, height .3s;
    transition-timing-function: ease; /* suavisar a animação */
}

#imagem {
    display: block; /* ser exibida como bloco por padrao */
    background: #5f2c82 url(../imagens/img1gimp.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block; /* ser exibida como bloco por padrao */
    padding: 10px;

}