@charset "UTF-8";

/* 
Paleta de cores
verde:  #49a09d
lilás:  #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    background-color: #1a693cd2;
    height: 100vh;
    width: 100vw;
}
/*  */
main{
    position: relative; /*  */
    height: 100vh;
    width: 100vw;
}

section#login{
    /* colocar no meio da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* tudo que tiver fora da borda vai ficar escondido */
    /*  */
    
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.421);

    /* animação ao mudar o tamanho da tela */
    transition: width .3s, height .3s;
    transition-timing-function: ease; /* suavisar a animação */
}

#imagem {
    display: block; /* ser exibida como bloco por padrao */
    background: #5f2c82 url(../imagens/img1gimp.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block; /* ser exibida como bloco por padrao */
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

.campo{
    background-color: #1a693cd2;
    padding: 5px 0px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    text-align: center;
}

div.campo > input {
    background-color: #57b17e79;
    text-align: center;
    font-size: 1em;
    height: 100%;
    border-radius: 5px;
}

div.campo > input:focus-Within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a693c79;
    color: white;
}

form > input[type=submit]:hover{
    background-color: #61c98e79;
    cursor: pointer;
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #57b17e79;
    border: 1px solid #1a693c79;
    border-radius: 5px;
    text-decoration: none;
    color: #1a693cd2;
    padding-top: 5px;
    margin-top: 10px;
}

.botao:hover {
    background-color: white;
}
